.navbar-wrapper {
    left: 0;
    right: 0;
    top: 20px;
    position: absolute;
    z-index: 20;
}

header {
    background: url("https://s3-ap-northeast-1.amazonaws.com/tsundere-aws/header_back.jpg") no-repeat;
    background-size: cover;
    padding-top: 15em;
    h1 {
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }
}

@content-gap: 5em;
#wrapper {
    margin-top: 5%;
    .container {
        margin: @content-gap auto;
        padding: 20px 15px;
        border-bottom: 2px solid #555;
    }
}

#join .link {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    background: #222;
    color: #777;
    padding: 3% 0 2% 0;
}

